@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    position: relative;    
}

.top-part {  
    height: 50%;
    display: flex;
    justify-content: space-around;
    background: url(./images/bckg1.jpg) no-repeat center/cover;
}

.name-surname{
    padding-top: 2em;
    color: white;
    font-size: 23px;
    font-family: 'Balsamiq Sans', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.icons {
    padding-top: 2em;
    font-size: 34px;
}

.icons a:hover {
    opacity: 0.3;
}

.icons:nth-child(2) a{
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin: 0 12px
}

.middle-part {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 50%;
    position: absolute;
    background-color: #dadbca;
    top: 25%;
    bottom: 25%;
    left: 20%;
    right: 20%; 
    box-shadow: 10px 6px 4px grey;
    min-width: 500px;
    min-height: 450px;

}

.left-side {
    /* margin: 0.5em; */
    width: 50%;
    padding: 1em 3em;
    background: url(images/LUM_9980.jpg) no-repeat center/cover;
}

.left-side:hover{
    opacity: 0.7;
}

.right-side {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5em;
    font-family: 'Balsamiq Sans', cursive;
    color: #f2f2f3;
    font-size: 20px;
    text-shadow: 2px 2px 4px #7a7373;
}

.icon1 {
    font-size: 30px;
}

.right-side span {
    color: #ffffff;
    margin: 10px 0;
}

.right-side p {
    font-size: 23px;
    margin-top: 25px;
}

.buttons {
    margin-top: 3.5em;
}

.buttons button{    
    display: inline-block;   
    cursor: pointer;
    border: none; 
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 15px 32px;
    margin: 4px 2px;
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #b08c8e; 
    margin-right: 4em;   
}

.buttons button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bottom-part {
    display: flex;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #e1dcdc;
    height: 50%;
    justify-content: center;
    align-items: flex-end;
}
.bottom-part div {
    margin-bottom: 1.5em;
}
